<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>(* Primary Application used by this action goes here. *)</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryFilesAndFolders</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string>(* AMDAlert text goes here. (optional) *)</string>
		<key>AMDInput</key>
		<string>(* AMDInput text to further explain the types accepted as input goes here. (optional) *)</string>
		<key>AMDNote</key>
		<string>(* AMDNote text goes here. (optional) *)</string>
		<key>AMDOptions</key>
		<string>(* AMDOptions text to further explain configuration options in the UI goes here. (optional) *)</string>
		<key>AMDRelatedActions</key>
		<string>(* AMDRelatedActions bundle ids go here. (optional) *)</string>
		<key>AMDRequires</key>
		<string>(* AMDRequires text to explain anything outside of Automator required for the action&apos;s operation, e.g. a web page open in Safari, goes here. (optional) *)</string>
		<key>AMDResult</key>
		<string>(* AMDResult text to further explain the types provided as output goes here. (optional) *)</string>
		<key>AMDSummary</key>
		<string>(* AMDSummary text to explain what your action does goes here. *)</string>
		<key>AMDWebsite</key>
		<string>(* AMDWebsite URL to additional information or documentation for the action goes here. (optional) *)</string>
	</dict>
	<key>AMIconName</key>
	<string>(* The name of the icon *)</string>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>Convert with nib2objc</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>ApplyButton</key>
		<string>(* Button label for user to add proposed Action, e.g. Add. *)</string>
		<key>IgnoreButton</key>
		<string>(* Button label for user not to add proposed Action, e.g. Don&apos;t Add. *)</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0, Copyright © 2010 __MyCompanyName__, All Rights Reserved</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.Automator.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2010 __MyCompanyName__, All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>Convert_with_nib2objc</string>
</dict>
</plist>
